@include media-breakpoint-up(lg) {
	.bs-section--about-pp {
		&.bs-section--about-banner {
			padding-bottom: 57px;
			h1 {
				margin-top: 0;
			}
		}
		&.bs-section--about-additional-resources {
			&.bs-section--common-post-blocks.r-spstbk-l1--anxcld1 {
				.bs-pro-button {
					margin-top: -62px;
				}
			}
		}
	}
}
