@include media-breakpoint-up(lg) {
	.bs-section--about-contact-headquarters {
		&.bs-section {
			padding-bottom: 1px;
			.bs-column--contact-field {
				margin-top: 0;
			}
			.bs-section--about-headquarters {
				&.bs-section--common-ready-to-get-started {
					margin-top: -624px;
				}
			}
			.bs-section--common-ready-to-get-started {
				&::before {
					height: calc(100% - 251px);
				}
			}
		}
	}
}
