.DS_Store
wp-config.php
wp-config-local.php
wp-config-org.php
/vendor
/wp-includes
/wp-admin
/.idea
.htaccess
.env
.env.*
!.env.example
.history
/assets
.tmb/
dev-sonar-project.properties
.scannerwork

/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/info.php
/robots.txt
/composer.lock

