.bs-div {
	$div: ".bs-div";
	&--blog-inner-tags {
		#{$div}__inner {
			h2 {
				@include title-six;
				margin-bottom: 30px;
				letter-spacing: 0.09em;
				text-transform: uppercase;
			}
			span {
				display: none;
			}
			.wp-block-post-terms {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				> a {
					height: 35px;
					padding: 0 19px;
					border: 1px solid color("purple");
					border-radius: 40px;
					font-size: 14px;//12->14
					font-weight: $font-weight-semi-bold;
					letter-spacing: 0.01em;
					line-height: 35px;
					text-decoration: none;
					&,
					&:hover {
						color: color("purple");
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.bs-div {
		&--blog-inner-tags {
			.wp-block-post-terms {
				> a {
					font-size: 12px;//add 12
				}
			}
		}
	}
}
