@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slide-logo-rtl {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50.6%);
	}
}
@keyframes slide-logo-ltr {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50.6%);
	}
}
@keyframes slide-logo-rtl-md {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50.2%);
	}
}
@keyframes slide-logo-ltr-md {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50.2%);
	}
}
@keyframes slide-logo-rtl-lg {
	0% {
		transform: translateX(-3%);
	}
	100% {
		transform: translateX(-70%);
	}
}
@keyframes slide-logo-ltr-lg {
	0% {
		transform: translateX(19.5%);
	}
	100% {
		transform: translateX(70%);
	}
}
