{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
