*
!.gitignore
!/berg
!/berg/**
#/berg/.gitignore
#/berg/node_modules
/berg/src/block/**/*.js
/berg/src/block/**/*.scss
/berg/src/block/**/composer.json
!/berg/dist
!/berg/src/block/**/core-event-handler.js
!/berg-custom
!/berg-custom/**

!/activity-log
!/activity-log/**
!/advanced-custom-fields-pro
!/advanced-custom-fields-pro/**
!/block-navigation
!/block-navigation/**
!/custom-taxonomy-order-ne
!/custom-taxonomy-order-ne/**
!/duplicate-post
!/duplicate-post/**
!/easy-table-of-contents
!/easy-table-of-contents/**
!/ep-pushcrew-now-vwo-engage
!/ep-pushcrew-now-vwo-engage/**
!/facetwp
!/facetwp/**
!/facetwp-relevanssi
!/facetwp-relevanssi/**
!/gd-security-headers
!/gd-security-headers/**
!/header-footer
!/header-footer/**
!/ithemes-security-pro
!/ithemes-security-pro/**
!/leadin
!/leadin/**
!/megamenu
!/megamenu/**
!/megamenu-pro
!/megamenu-pro/**
!/PDFEmbedder-premium
!/PDFEmbedder-premium/**
!/permalink-manager
!/permalink-manager/**
!/post-types-order
!/post-types-order/**
!/realm
!/realm/**
!/redirection
!/redirection/**
!/relevanssi-premium
!/relevanssi-premium/**
!/sassy-social-share
!/sassy-social-share/**
!/svg-support
!/svg-support/**
!/taxonomy-terms-order
!/taxonomy-terms-order/**
!/visual-web-optimizer
!/visual-web-optimizer/**
!/wordpress-seo
!/wordpress-seo/**
!/wp-file-manager
!/wp-file-manager/**
!/wp-rocket
!/wp-rocket/**
!/TooltipProPlus
!/TooltipProPlus/**

!/social-polls-by-opinionstage
!/social-polls-by-opinionstage/**

!/hubspot-content-embed
!/hubspot-content-embed/**
!/seo-by-rank-math
!/seo-by-rank-math/**
