.bs-section--home-forrester {
	overflow: hidden;
	padding: 0;
	margin: 60px 0 0;
	> div {
		padding-right: 0;
		padding-left: 0;
	}
	.media-elements {
		position: relative;
		overflow: hidden;
		padding: 88px 50px;
		background-color: color("medium-sea-green");
		clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0 100%, 0% 51%);
		&::after {
			@include after-before;
			z-index: -1;
			top: -334px;
			right: -295px;
			width: 1114px;
			height: 1000px;
			background: url($forrester-left-pattern) center/contain no-repeat;
		}
		.bs-common-image {
			figure {
				/* stylelint-disable declaration-no-important */
				justify-content: center !important; // to override bootstrap .justify-content-start class styles
				/* stylelint-enable */
			}
		}
	}
	.bs-blurb {
		padding: 60px 30px;
		background-image: $forrester-gradient-one;
		&__title {
			h2 {
				margin-bottom: 20px;
				color: color("white");
				font-size: 25px;
				font-weight: $font-weight-normal;
				letter-spacing: 0;
				line-height: 30px;
			}
		}
		&__description {
			p {
				color: color("light-grey");
				font-size: 14px;//12->14
				font-weight: $font-weight-normal;
				line-height: 14px;
			}
		}
		&__read-more {
			@include tertiary-link-with-arrow;
			margin-top: 46px; //revert
			a {
				&::after {
					margin-left: 21px;
				}
			}
		}
		&---default {
			.bs-blurb__read-more:not(.no-link):hover {
				opacity: 1;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.bs-section--home-forrester {
		> div {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}
@include media-breakpoint-up(lg) {
	.bs-section--home-forrester {
		.media-elements {
			z-index: 1;
			width: 383px;
			height: 100%;
			border-bottom-left-radius: 5px;
			clip-path: polygon(14% 0%, 100% 0, 100% 62%, 87% 100%, 0 100%, 0 40%);
			&::after {
				right: -303px;
			}
			.bs-common-image {
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
				padding: 0;
			}
		}
		.bs-blurb {
			position: relative;
			width: calc(100% - 333px);// added 50px because of margin left minus value
			padding: 58px 30px 58px 99px;
			margin-left: -50px;
			background: $forrester-gradient-two;
			clip-path: polygon(100% 0, 100% 64%, 94% 100%, 0 100%, 0 0);
			&::before {
				@include after-before;
				z-index: -1;
				top: 0;
				right: 0;
				width: 307px;
				height: 352px;
				background: url($forrester-right-pattern) center/contain no-repeat;
			}
			&__title {
				h2 {
					margin-bottom: 19px;
					font-size: 32px;
					line-height: 38px;
				}
			}
			&__description {
				p {
					font-size: 20px;
					line-height: 24px;
				}
			}
			&__read-more {
				margin-top: 25px;
				a {
					font-size: 16px;
					line-height: 20px;
					&::after {
						margin-top: 1px;
						margin-left: 20px;
					}
				}
			}
		}
	}
}
