.bs-section--glossary-index-page {
	padding: 30px 0;
	.listNav { /* stylelint-disable-line */ //class name from Tooltippro plugin
		.ln-letters {
			a {
				display: inline-block;
				border: none;
				margin-bottom: 8px;
				color: color("dark-grey");
				font-size: $twentytwo-font-size;
				font-weight: 700;
				&:hover {
					background-color: transparent;
					color: color("purple");
					text-decoration: none;
				}
				&.ln-selected {
					background-color: color("purple");
					color: color("white");
				}
				&.ln-disabled {
					color: rgb(65, 84, 111, 0.7);
					pointer-events: none;
					&.ln-selected {
						color: color("white");
					}
				}
			}
		}
	}
	#glossary-categories {
		width: 100%;
		max-width: 270px;
	}
	select.glossary-categories {
		height: 60px;
		padding: 12px 40px 12px 18px;
		border: 1px solid color("medium-grey");
		border-radius: 5px;
		background-color: transparent;
		background-image: url($select-drop-arrow);
		background-position-x: 94%;
		background-position-y: 28px;
		background-repeat: no-repeat;
		color: color("dark-grey");
		font-size: 1.125rem;
		font-weight: $font-weight-normal;
		letter-spacing: 0;
		line-height: 1.3;
		option {
			color: color("space-blue");
			font-size: 14px;
			font-weight: $font-weight-normal;
			line-height: 1.5;
		}
	}
	input.glossary-search-term {
		width: 58%;
		max-width: 270px;
		height: 60px;
		padding: 12px 18px;
		margin-bottom: 15px;
	}
	.glossary-search {
		height: 60px;
		padding: 12px 18px;
		margin-left: 14px;
	}
	#glossary-search-term {
		height: 60px;
		padding: 12px 18px;
	}
	.glossary-search-clear {
		&::before {
			@include close-red;
		}
		@include title-six;
		position: relative;
		padding: 0 20px 0 22px;
		border: none;
		margin-bottom: 0;
		background: color("white");
		color: color("red");
		letter-spacing: 0.1em;
		line-height: 43px;
		text-transform: uppercase;
	}
	span.error {
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 1.2;
	}
	.glossaryList { /* stylelint-disable-line */ //class name from Tooltippro plugin
		display: flex;
		flex-wrap: wrap;
		li {
			display: block;
			height: auto;
			margin: 4px;
			&:hover {
				background-color: transparent;
			}
		}
	}
	.tiles ul.glossaryList { /* stylelint-disable-line */ //class name from Tooltippro plugin
		li { // stylelint-disable-next-line declaration-no-important
			width: 46% !important; // stylelint-disable-next-line declaration-no-important
			min-width: 46% !important;
			margin-bottom: 10px;
		}
	}
	.cm-glossary {
		.glossary-container {
			ul {
				&.pageNumbers { /* stylelint-disable-line */ //class name from Tooltippro plugin
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					margin-top: 20px;
					a {
						border-radius: 50px;
						margin-right: 10px;
						margin-bottom: 10px;
						&:hover {
							text-decoration: none;
						}
						li {
							/* stylelint-disable max-nesting-depth*/
							@include body-normal;
							display: flex;
							width: 50px;
							height: 50px;
							align-items: center;
							justify-content: center;
							padding: 5px;
							border: 1px solid color("dark-grey");
							border-radius: 50px;
							color: color("dark-grey");
							font-weight: $font-weight-normal;
							letter-spacing: normal;
							text-decoration: none;
							&.selected,
							&:hover {
								background-color: color("space-blue");
								color: color("white");
								font-weight: $font-weight-normal;
							}
							&.prev,
							&.next {
								position: relative;
								box-shadow: none;
								text-indent: -99999px;
								&::after {
									@include after-before;
									@include pagination-arrow;
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									width: 18px;
									height: 10px;
									margin: auto;
								}
							}
							&.prev {
								margin-right: 10px;
								&::after {
									background-position: -208px -137px;
								}
								&:hover {
									&::after {
										@include link-arrow-white;
										background-position: -134px -14px;
										transform: rotate(180deg);
									}
								}
							}
							&.next {
								&::after {
									background-position: -208px -137px;
									transform: rotate(180deg);
								}
								&:hover {
									&::after {
										@include link-arrow-white;
										background-position: -134px -14px;
										transform: rotate(0);
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.cm-glossary.tiles.big {
		ul.glossaryList { /* stylelint-disable-line */ //class name from Tooltippro plugin
			a {
				display: block;
				height: 100%;
				padding: 0;
				border: none;
				margin-bottom: 0;
			}
			span {
				display: flex;
				width: auto;
				height: 100%;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				padding: 12px 15px;
				border: none;
				border-radius: 5px;
				margin-bottom: 0;
				background-color: color("light-grey");
				color: color("space-blue");
				font-size: 16px;
				font-weight: 500;
				line-height: 1.3;
				transition: all 0.3s;
				white-space: normal;
				&:hover {
					background-color: rgba(color("space-blue"), 0.7);
					color: color("white");
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.bs-section--glossary-index-page {
		padding: 60px 0;
		#glossary-categories {
			width: auto;
		}
		ul#glossaryList { /* stylelint-disable-line */
			//class name from Tooltippro plugin
			margin-top: 39px;
		}
		input.glossary-search-term {
			width: 70%;
			min-width: 270px;
		}
	}
}
@include media-breakpoint-up(lg) {
	.bs-section--glossary-index-page {
		.pageNumbers { /* stylelint-disable-line */
			//class name from Tooltippro plugin
			margin-top: -22px;
			a li {
				width: 65px;
				height: 65px;
			}
		}
		#glossary-categories {
			width: 270px;
		}
		.tiles ul {
			&.glossaryList { /* stylelint-disable-line */
				//class name from Tooltippro plugin
				li { // stylelint-disable-next-line declaration-no-important
					width: 23% !important; // stylelint-disable-next-line declaration-no-important
					min-width: 23% !important;
					margin: 8px;
				}
			}
		}
		span.error {
			font-size: 32px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.bs-section--glossary-index-page {
		.glossary-search-wrapper {
			width: 100%;
		}
		.glossary-search-clear {
			display: block;
		}
		#glossary-categories {
			float: left;
		}
	}
}
